.taskBoard {
    border: 1px solid #dcdcde;
    margin: 10px auto;
    border-radius: 3px;
}
.taskBoard .row{
    margin: 0px;
}
.todoItem{
    margin-bottom: 10px;
}
.todoItem .btn {
    line-height : 20px;
}
.todoHeader h4{
    border-bottom: 1px solid #dcdcde;
    padding-bottom:5px;
}
.todo-form button {
    font-size: 14px;
    line-height: 24px;
}
.tasksWrapper{
    margin:0 !important;
    margin-bottom:20px;
}
.tasksWrapper h5{
    padding-left:5px;
}
.tasksWrapper .todoList, .tasksWrapper .project-item span{
    padding-left:5px;
}
.tasksWrapper .project-item {
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.tasksWrapper .project-item:last-child {
    border-bottom: 0px;
}
.project-item, .todoList{
    line-height: 30px;
}
.project-item:hover{
    cursor : pointer;
    background : #90de91;
}
.liWrapper {
    position: relative;
    padding: 0px 2px;
}
.liWrapper label {
    position: absolute;
    top: -12px;
    left: 8px;
    background: white;
}
.form-check {
    margin-left: 5px;
}
.form-check input{
    width:20px;

    position:relative;
    vertical-align:middle;
}
.form-check input[type=checkbox]:checked + label.linecrossed {
    text-decoration: line-through;
}

.form-check label{
    position:relative;
    right: -5px;
    display:inline-block;
    vertical-align:middle;
}
.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}
.mb20{
    margin-bottom:20px !important;
}
.bbgray{
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.brgray{
    border-right: 1px solid rgba(0,0,0,.1);
}
.todo-form{
    padding: 12px 0px;
}