.tornado-question {
    height: 150px;
    border: 1px solid black;
    vertical-align: middle;
    line-height: 150px;
    text-align: center;
    font-size: 55px;
}
.tornado-question:hover {
    background-color : #dcdcde;
    cursor : pointer;
}
